
*{
padding: 0;
margin: 0;
box-sizing:border-box;
font-family: 'Carrois Gothic SC', sans-serif;

}
html,body{
	height: 100%;
}

.menu > .cabeca{
	background-color: rgba(0, 0, 0, 0.644);
	color: rgb(212, 212, 212);
	text-align: center;
}
header > .logo h2{
	color: white;
}

header{
	position: absolute;
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content:space-between;
	padding: 30px;
	border-top:1px solid rgba(0, 3, 206, 0.185);
	border-bottom:1px solid rgba(255, 0, 0, 0.185);
}
nav ul {
	list-style-type: none;	
}
nav ul li{
	display: inline-block;
	padding: 10px;
	font-size: 17px;
}
nav ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}   
nav ul li a:hover{
	color:black;
}


.video{
	position: absolute;
	top: -100px;
	width: 100%;
	height: 900px;
	overflow: hidden;
	background-size: contain;
}

section.foto{
	display: flex;
	width: 100%;
	height: 400px;
}
.caminhao{
	width: 50%;
	background-image: url('caminhao.png');
	background-size: 100%,100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.caminhao2{
	width: 50%;
	background-image: url('caminhao2.png');
	background-size: 100%,100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.caminhao3{
	width: 50%;
	background-image: url('caminhao3.png');
	background-size: 100%,100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.paragrafo{
	position: relative;
	width: 50%;
}
.paragrafo h2{
    letter-spacing: -1px;
	font-size: 55px;
    color: #be1e2d;
    line-height: 48px;
	text-align: center;
	margin-top: 30px;
}
.paragrafo span{
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	margin: 20px;
}
.paragrafo p{
	margin: 0 auto;
	width: 100%;
	padding: 15px;
	align-items: center;
	font-size: 14px;
	color: gray;
}
.paragrafo input[type=button]{
	position: absolute;
	left: 80px;
	bottom: 50px;
	background-color: #f11329;
	color: aliceblue;
	border:0;
	padding: 15px;
	font-family: 'Times New Roman', Times, serif;
	border-radius: 2px;
}
input[type=button]:hover{
	background-color: #c50519;
}
section.sobre{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 200px;
	background-color: #1768ac;
}
section.sobre .anos{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
	color: white;
	padding: 25px;
}
section.sobre .clientes{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	font-size: 25px;
	color: white;
}
section.sobre .distancia{
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
	font-size: 25px;
	color: white;
}

section.parceiros{
	width: 90%;
	margin: 0 auto;
	padding: 50px;
	
}
section h2{
	color: rgb(0, 103, 129);
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
}
.texto{
	text-transform: uppercase;
	font-size: 20px;
	color: rgb(0, 103, 129);
}

section.contato{
	padding: 20px;
	width: 100%;
	height: 340px;
	background-color: #80cbc4 ;
	/* background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100%,100%;
	background-attachment: fixed; */
}
section.contato > h1{
	color: rgb(0, 103, 129);
	text-align: center;
	padding: 10px;
}
section.contato p{
	color: black;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 30px;
}
form{
	
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
input.nome{
	outline: none;
	background: transparent;
	height: 40px;
	width: 350px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid black;

}
input.email{
	outline: none;
	background: transparent;
	height: 40px;
	width:550px ;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid black;
}
input.telefone{
	outline: none;
	background: transparent;
	height: 40px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid black;
}
input.espaco{
	padding-left: 10px;
}
input.cor:hover{
	background-color: #4db6ac ;
}

input.botao{
	height: 40px;
	width: 100px;
	border:0;
	padding: 2px;
	border-radius: 2px;
}
footer{
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px;
	background-color: black;
}
footer > p{
	font-size: 15px;
	color: rgb(0, 103, 129);
	position: absolute;
	bottom: 0;
	left: 0;
}
